<h4>プロフィール編集</h4>

<%= form_with model: @user do |f| %>
  <%= f.text_field :name, autofocus: true %>
  <%= image_tag @user.get_profile_image(40, 40) %>
  <%= f.file_field :profile_image, accept: "image/*" %>
  <%= f.submit "変更を保存" %>
<% end %>