<%= image_tag @post_image.get_image %>
<%= image_tag @post_image.user.get_profile_image(40, 40) %>
<%= link_to @post_image.shop_name, post_image_path(@post_image.id) %>
説明: <%= @post_image.caption %>
By <%= @post_image.user.name %>
<%= @post_image.created_at.strftime("%Y/%m/%d") %>
<%= link_to @post_image.post_comments.count, post_image_path(@post_image.id) %>
<div id="favorite-btn">
  <%= render "favorites/favorite", post_image: @post_image %>
</div>
<% if @post_image.user == current_user %>
    <%= link_to "削除", post_image_path(@post_image.id), method: :delete %>
<% end %>
<dev id="comment">
  <%= render "post_comments/post_comment", post_image: @post_image %>
</dev>
<%= form_with model: [@post_image, @post_comment], local: false do |f| %>
  <%= f.text_area :comment %>
  <%= f.submit "送信する" %>
<% end %>